{% extends 'base.html.twig' %}

{% block title %}Login !{% endblock %}

{% block stylesheets %}

{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/login.css') }}"

{% endblock %}

{% block body %}

{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form class = "form-signin" method="post">

{% if error %}
<div class="alert alert-danger">{{error.messageKey | trans(erro.messageData, 'security' ) }}</div>
{% endif %}

<h1 class="h3 mb-3 font-weight-normal">Connectez vous !</h1>
<label for="inputEmail" class="sr-only">Email</label>
<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
<div class="checkbox mb-3">
<label>
<input type="checkbox" value="remember-me"> Se souvenir de moi
</label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">
Connexion
</button>
</form>
{% endblock %}